@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #39aae1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
}

.qr_code_card {
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1rem;
    width: 300px;
}

img {
    background-color: #FFFF;
    border-radius: 20px;
    width: 100%;
}

.qr_code_text h1 {
    font-size: 19px; 
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: hsl(218, 44%, 22%);
}

.qr_code_text p {
    font-size: 15px; 
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
}

.attribution {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
	position:absolute;
	bottom:15px;
	width:100%;
    gap: 5px;
}

.attribution a {
    text-decoration: none;
}

@media(max-width: 600px) {
    .qr_code_card {
        width: 250px;
    }
    .attribution {
        display: flex;
        font-size: 10px;
        flex-direction: column end;
        justify-content: center;
        align-items: center;
        position:absolute;
        width:100%;
        gap: 5px;
    }
    
}