@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: #39aae1;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Qr_Code_Card {
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1rem;
    width: 300px;
}

img {
    background-color: #FFFF;
    border-radius: 20px;
    width: 100%;
}

.Qr_Code_Text h1 {
    font-size: 19px; 
    font-family: 'Outfit';
    font-weight: bold;
    text-align: center;
}

.Qr_Code_Text p {
    font-size: 15px; 
    font-family: 'Outfit';
    color: #5c5c5c;
    text-align: center;
}

@media(max-width: 600px) {
    .Qr_Code_Card {
        width: 250px;
    }
}